<bootcamp-counter counter="5" style={{
    display: "flex",
}}>
    <button id="decrement" class="btn btn-primary">-</button>
    <h1 id="count">0</h1>
    <button id="increment" class="btn btn-primary">+</button>
</bootcamp-counter>

<script>
    class BootcampCounter extends HTMLElement {
        counter = 0;
        countEl?: HTMLElement;

        constructor() {
            super();
            this.countEl = this.querySelector("#count") as HTMLElement;
            this.querySelector("#decrement")?.addEventListener("click", () => this.decrement());
            this.querySelector("#increment")?.addEventListener("click", () => this.increment());
        }

        reset() {
            this.counter = 0;
            this.countEl!.textContent = String(this.counter);
        }

        increment() {
            this.counter++;
            this.countEl!.textContent = String(this.counter);
        }

        decrement() {
            this.counter--;
            this.countEl!.textContent = String(this.counter);
        }
    }
    customElements.define("bootcamp-counter", BootcampCounter);
</script>